<div id="greeter" class="no_copy">
  <div id="title">
    <%= config.author %>'s Blog
  </div>
  <div id="slogan">
    <% if (theme.home.slogan != null) { %>
    <%= theme.home.slogan %>
    <% } else { %>
    <%= config.subtitle %>
    <% } %>
  </div>
</div>

<main>
  <div id="postsContainer">
    <%# 由于Hexo的文章排序算法对中文支持不好，这里需要自己实现一个排序算法 %>

    <% var posts = [] %>
    <% { cnt = 0; %>
    <% site.posts.each((post) => { %>
    <%# Hexo我囸你码，site.posts是个Query……%>
    <%  posts[cnt++] = post; %>
    <% })} %>

    <% posts.sort((a, b) => { %>
    <%   if(a.date.year() == b.date.year()) { %>
    <%     if(a.date.month() == b.date.month()) { %>
    <%       return a.date.day() > b.date.day() ? -1 : 1 %>
    <%     } else { %>
    <%       return a.date.month() > b.date.month() ? -1 : 1 %>
    <%     } %>
    <%   } else { %>
    <%     return a.date.year() > b.date.year() ? -1 : 1 %>
    <%   } %>
    <% }); %>

    <% posts.forEach((post) => { %>
    <% if (post.pinned === true && post.hidden === false) { %>
    <a class="Post" href="<%- url_for(post.path) %>">
      <div class="PostTitle">[置顶] <%= post.title %></div>
      <div class="PostSummary"><%= post.summary %></div>
      <div class="PostDate no_copy"><%- date(post.date, "MM / DD / YYYY") %></div>
    </a>
    <% } %>
    <% }) %>

    <% posts.forEach((post) => { %>
    <% if (post.pinned != true && post.hidden === false) { %>
    <a class="Post" href="<%- url_for(post.path) %>">
      <div class="PostTitle"><%= post.title %></div>
      <div class="PostSummary"><%= post.summary %></div>
      <div class="PostDate no_copy"><%- date(post.date, "MM / DD / YYYY") %></div>
    </a>
    <% } %>
    <% }) %>
  </div>
</main>