<div id="greeter" class="no_copy">
  <div id="title">
    <%= config.author %>'s Blog
  </div>
  <div id="slogan">
    <% if (theme.home.slogan != null) { %>
    <%= theme.home.slogan %>
    <% } else { %>
    <%= config.subtitle %>
    <% } %>
  </div>
</div>

<main>
  <div id="postsContainer">
    <%# 由于Hexo的文章排序算法对中文支持不好，这里需要自己实现一个排序算法 %>
    <% var posts_sorted = site.posts.sort((a, b) => { %>
    <%   if(a.date.getFullYear() === b.date.getFullYear()) { %>
    <%     if(a.date.getMonth() === b.date.getMonth()) { %>
    <%       return a.date.getDay() > b.date.getDay() ? -1 : 1 %>
    <%     } else { %>
    <%       return a.date.getMonth() > b.date.getMonth() ? -1 : 1 %>
    <%     } %>
    <%   } else { %>
    <%     return a.date.getFullYear() > b.date.getFullYear() ? -1 : 1 %>
    <%   } %>
    <% }) %>

    <% posts_sorted.forEach(function(post){ %>
    <% if (post.pinned && !post.hidden) { %>
    <a class="Post" href="<%- url_for(post.path) %>">
      <div class="PostTitle">[置顶] <%= post.title %></div>
      <div class="PostSummary"><%= post.summary %></div>
      <div class="PostDate no_copy"><%- date(post.date, "MM / DD / YYYY") %></div>
    </a>
    <% } %>
    <% }) %>

    <% posts_sorted.each(function(post){ %>
    <% if (!post.pinned && !post.hidden) { %>
    <a class="Post" href="<%- url_for(post.path) %>">
      <div class="PostTitle"><%= post.title %></div>
      <div class="PostSummary"><%= post.summary %></div>
      <div class="PostDate no_copy"><%- date(post.date, "MM / DD / YYYY") %></div>
    </a>
    <% } %>
    <% }) %>
  </div>
</main>