<!DOCTYPE html>

<html lang="<%= config.language %>">

<head>
	<meta charset="utf-8" />
	<meta name="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="<%= config.author %>" />
	<meta name="description" content="<%= config.description %>" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="/favicon.ico" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/katex@0/dist/katex.min.css">
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900" />
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Noto+Serif+SC:100,300,400,500,700,900" />

	<% if (is_home()) { %>
		<%- partial("_partial/head/home") %>
	<% } %>
	<% if (is_post()) { %>
		<%- partial("_partial/head/post") %>
	<% } %>
</head>


<body>
	<header class="NoCopy NoDrag"><%- partial("_partial/header") %></header>	
	<%- body %>
	<footer class="NoCopy NoDrag"><%- partial("_partial/footer") %></footer>
</body>

</html>